<div class="row">
  <p class="lead text-white-70">
  <div><br/>
  404 Page not found
  <br/></div>
  </p>
</div>
<a class="btn btn-primary btn-lg" href="/" role="button" text-align="center">
Home
</a>
